@import url('https://fonts.googleapis.com/css?family=Bigelow+Rules&display=swap');

.page-title {
  font-family: 'Bigelow Rules', cursive;
  text-align: center;
  font-size: 4rem;
  color: #0ccac4;
}
